<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Creating purchase order">
    <test  name="creating and order">
        <classes>
            <class name="com.magento.test.CreateOrderTest">
                <methods>
                    <include name="CreateNewOrder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>